<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFC.Canteen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SFC.Canteen.Properties.Settings>
            <setting name="TopupMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckoutMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="MyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ProductSyncCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomerSyncCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SalesSyncCode" serializeAs="String">
                <value>0</value>
            </setting>
        </SFC.Canteen.Properties.Settings>
    </userSettings>
</configuration>